In [1]:
# Imports:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np
import os
import PIL
import PIL.Image
import tensorflow as tf
import tensorflow_datasets as tfds

%matplotlib inline

import warnings

warnings.filterwarnings('ignore')

In [70]:
# Main Directory Files

images= pd.read_csv("./../CUB_200_2011/images.txt", sep=" ", header=None, names=['image_id','image_name'])
train_test_list= pd.read_csv("./../CUB_200_2011/train_test_split.txt", sep=" ", header=None, names=['image_id','is_training_image'])
classes= pd.read_csv("./../CUB_200_2011/classes.txt", sep=" ", header=None, names=['class_id', 'class_name'])
image_class_labels= pd.read_csv("./../CUB_200_2011/image_class_labels.txt", sep=" ", header=None, names=['image_id', 'class_id'])
#bounding boxes in pixels 
bounding_boxes= pd.read_csv("./../CUB_200_2011/bounding_boxes.txt", sep=" ", header=None, names=['image_id','x','y','width','height'])

In [71]:
# Parts Directory Files 

parts= pd.read_csv("./../CUB_200_2011/parts/parts_edited.txt", sep=" ", header=None, names=['part_id','part_name'])
# Part Locs Note: <x> and <y> denote the pixel location of the center of the part.
part_locs= pd.read_csv("./../CUB_200_2011/parts/part_locs.txt", sep=" ", header=None, names=['image_id', 'part_id', 'x','y','visible'])
part_click_locs= pd.read_csv("./../CUB_200_2011/parts/part_click_locs.txt", sep=" ", header=None, names=['image_id', 'part_id', 'x','y','visible','time'])

In [85]:
# Attributes Directory Files 
attributes= pd.read_csv("./../CUB_200_2011/attributes/attributes.txt", sep=" ", header=None, names=['attribute_id','attribute_name'])
certainties= pd.read_csv("./../CUB_200_2011/attributes/certainties.txt", sep=" ", header=None, names=['certainty_id','certainty_name'])
image_attribute_labels= pd.read_csv("./../CUB_200_2011/attributes/image_attribute_labels.txt", sep=" ", header=None, names=['image_id','attribute_id','is_present','certainty_id','time'])
class_attribute_labels_continuous= pd.read_csv("./../CUB_200_2011/attributes/class_attribute_labels_continuous.txt", sep=" ", header=None)
# each line corresponds to one class (in the same order as classes)

In [96]:
# Merge Main Files

merged1=pd.merge(images, bounding_boxes, on='image_id', how='left')
merged2=pd.merge(merged1, image_class_labels, on='image_id', how='left')
merged3=pd.merge(merged2, train_test_list, on='image_id', how='left')
merged4=pd.merge(merged3, classes, on='class_id', how='left')

merged4.head(100)

,image_id,image_name,x,y,width,height,class_id,is_training_image,class_name
0,1,001.Black_footed_Albatross/Black_Footed_Albatr...,60.0,27.0,325.0,304.0,1,0,001.Black_footed_Albatross
1,2,001.Black_footed_Albatross/Black_Footed_Albatr...,139.0,30.0,153.0,264.0,1,1,001.Black_footed_Albatross
2,3,001.Black_footed_Albatross/Black_Footed_Albatr...,14.0,112.0,388.0,186.0,1,0,001.Black_footed_Albatross
3,4,001.Black_footed_Albatross/Black_Footed_Albatr...,112.0,90.0,255.0,242.0,1,1,001.Black_footed_Albatross
4,5,001.Black_footed_Albatross/Black_Footed_Albatr...,70.0,50.0,134.0,303.0,1,1,001.Black_footed_Albatross
...,...,...,...,...,...,...,...,...,...
95,96,002.Laysan_Albatross/Laysan_Albatross_0076_671...,151.0,23.0,274.0,351.0,2,1,002.Laysan_Albatross
96,97,002.Laysan_Albatross/Laysan_Albatross_0096_673...,46.0,71.0,403.0,280.0,2,1,002.Laysan_Albatross
97,98,002.Laysan_Albatross/Laysan_Albatross_0064_674...,118.0,19.0,222.0,294.0,2,0,002.Laysan_Albatross
98,99,002.Laysan_Albatross/Laysan_Albatross_0039_924...,24.0,53.0,361.0,181.0,2,1,002.Laysan_Albatross
99,100,002.Laysan_Albatross/Laysan_Albatross_0049_918...,13.0,58.0,473.0,243.0,2,0,002.Laysan_Albatross

In [91]:

# Merge Attributes by Image

image_attr=pd.merge(image_attribute_labels, attributes, on='attribute_id', how='left')
image_attr

,image_id,attribute_id,is_present,certainty_id,time,attribute_name
0,1,1,0,3,27.708,has_bill_shape::curved_(up_or_down)
1,1,2,0,3,27.708,has_bill_shape::dagger
2,1,3,0,3,27.708,has_bill_shape::hooked
3,1,4,0,3,27.708,has_bill_shape::needle
4,1,5,1,3,27.708,has_bill_shape::hooked_seabird
...,...,...,...,...,...,...
3677851,11788,308,1,4,4.989,has_crown_color::buff
3677852,11788,309,0,4,8.309,has_wing_pattern::solid
3677853,11788,310,0,4,8.309,has_wing_pattern::spotted
3677854,11788,311,0,4,8.309,has_wing_pattern::striped
3677855,11788,312,1,4,8.309,has_wing_pattern::multi-colored

In [88]:
attributes

     attribute_id                       attribute_name
0               1  has_bill_shape::curved_(up_or_down)
1               2               has_bill_shape::dagger
2               3               has_bill_shape::hooked
3               4               has_bill_shape::needle
4               5       has_bill_shape::hooked_seabird
..            ...                                  ...
307           308                has_crown_color::buff
308           309              has_wing_pattern::solid
309           310            has_wing_pattern::spotted
310           311            has_wing_pattern::striped
311           312      has_wing_pattern::multi-colored

[312 rows x 2 columns]

In [86]:
class_attribute_labels_continuous.shape

(200, 312)

In [87]:
#Attributes by classes

#shows rows (classes) and each column is an attribute (cols), number is the % of time that the human thinks the attribute is present for a given class
class_attribute_labels_continuous

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
0,0.000000,2.919708,1.459854,0.000000,59.854015,26.277372,3.649635,5.839416,0.000000,1.639344,...,0.000000,0.000000,21.276596,11.347518,2.12766,31.914894,53.571429,5.357143,21.428571,19.642857
1,4.411765,4.411765,2.941176,1.470588,57.352941,27.205882,0.000000,2.205882,0.000000,0.000000,...,0.000000,2.255639,2.255639,94.736842,0.00000,0.000000,77.142857,3.809524,10.476190,8.571429
2,0.000000,3.973510,3.311258,0.000000,70.860927,14.569536,5.298013,1.986755,0.000000,0.000000,...,2.205882,0.000000,38.970588,2.941176,0.00000,16.176471,71.028037,0.934579,7.476636,20.560748
3,0.000000,1.459854,10.218978,0.000000,0.000000,0.000000,8.759124,25.547445,54.014599,5.839416,...,0.000000,0.000000,88.571429,0.000000,0.00000,2.142857,84.126984,2.380952,3.174603,10.317460
4,0.000000,0.000000,3.225806,0.000000,1.075269,0.000000,0.000000,32.258065,63.440860,0.000000,...,0.000000,0.000000,82.727273,5.454545,0.00000,4.545455,88.461538,0.000000,3.846154,7.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2.702703,12.837838,0.000000,0.000000,0.000000,0.000000,76.351351,8.108108,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.973684,0.00000,29.605263,14.379085,22.875817,56.209150,6.535948
196,18.300654,11.764706,0.000000,3.267974,0.000000,0.000000,60.784314,5.882353,0.000000,0.000000,...,0.000000,0.000000,35.443038,4.430380,0.00000,22.784810,16.783217,25.174825,32.167832,25.874126
197,10.759494,36.708861,0.000000,7.594937,0.632911,0.000000,43.670886,0.632911,0.000000,0.000000,...,0.000000,0.000000,14.375000,13.125000,0.00000,41.875000,18.791946,44.295302,18.791946,18.120805
198,0.000000,2.068966,0.000000,2.068966,0.000000,0.000000,88.275862,7.586207,0.000000,0.000000,...,0.000000,1.324503,3.973510,0.000000,0.00000,19.205298,12.413793,34.482759,33.103448,20.000000
199,0.000000,8.280255,0.000000,0.000000,0.000000,0.000000,82.802548,8.917197,0.000000,0.000000,...,0.000000,0.000000,10.429448,34.969325,0.00000,38.036810,56.488550,3.053435,10.687023,29.770992

In [82]:
#attributes by images
image_attribute_labels

         image_id  attribute_id  is_present  certainty_id    time
0               1             1           0             3  27.708
1               1             2           0             3  27.708
2               1             3           0             3  27.708
3               1             4           0             3  27.708
4               1             5           1             3  27.708
...           ...           ...         ...           ...     ...
3677851     11788           308           1             4   4.989
3677852     11788           309           0             4   8.309
3677853     11788           310           0             4   8.309
3677854     11788           311           0             4   8.309
3677855     11788           312           1             4   8.309

[3677856 rows x 5 columns]

In [ ]:
merged4=pd.merge(merged3, classes, on='class_num', how='left')

In [37]:
# Merge Main Files

merged1=pd.merge(images, bounding_boxes, on='record_num', how='left')
merged2=pd.merge(merged1, image_class_labels, on='record_num', how='left')
merged3=pd.merge(merged2, train_test_list, on='record_num', how='left')
merged4=pd.merge(merged3, classes, on='class_num', how='left')

merged4.isnull().sum()

record_num    0
image_name    0
b1            0
b2            0
b3            0
b4            0
class_num     0
test_ind      0
bird_class    0
dtype: int64

In [31]:
bounding_boxes.shape

(11788, 5)

In [22]:
train_test_list.shape

(11788, 2)

In [23]:
classes.shape

(200, 2)

In [24]:
images.shape

(11788, 2)

In [25]:
image_class_labels.shape

(11788, 2)

In [30]:
bounding_boxes.head()

   record_num     b1     b2     b3     b4
0           1   60.0   27.0  325.0  304.0
1           2  139.0   30.0  153.0  264.0
2           3   14.0  112.0  388.0  186.0
3           4  112.0   90.0  255.0  242.0
4           5   70.0   50.0  134.0  303.0

In [27]:
train_test_list['test_ind'].value_counts(normalize=True)

1    0.508483
0    0.491517
Name: test_ind, dtype: float64

In [14]:
classes.head()

   index_num                  bird_class
0          1  001.Black_footed_Albatross
1          2        002.Laysan_Albatross
2          3         003.Sooty_Albatross
3          4       004.Groove_billed_Ani
4          5          005.Crested_Auklet

In [26]:


path="./../CUB_200_2011/images"
img_name = sorted(os.listdir("./../CUB_200_2011/images/001.Black_footed_Albatross"))
img_paths = []
for i in img_name:
    img_paths.append(path + i)
img_name

['Black_Footed_Albatross_0001_796111.jpg',
 'Black_Footed_Albatross_0002_55.jpg',
 'Black_Footed_Albatross_0003_796136.jpg',
 'Black_Footed_Albatross_0005_796090.jpg',
 'Black_Footed_Albatross_0006_796065.jpg',
 'Black_Footed_Albatross_0007_796138.jpg',
 'Black_Footed_Albatross_0008_796083.jpg',
 'Black_Footed_Albatross_0009_34.jpg',
 'Black_Footed_Albatross_0010_796097.jpg',
 'Black_Footed_Albatross_0014_89.jpg',
 'Black_Footed_Albatross_0016_796067.jpg',
 'Black_Footed_Albatross_0017_796098.jpg',
 'Black_Footed_Albatross_0019_796104.jpg',
 'Black_Footed_Albatross_0023_796059.jpg',
 'Black_Footed_Albatross_0024_796089.jpg',
 'Black_Footed_Albatross_0025_796057.jpg',
 'Black_Footed_Albatross_0026_796095.jpg',
 'Black_Footed_Albatross_0031_100.jpg',
 'Black_Footed_Albatross_0032_796115.jpg',
 'Black_Footed_Albatross_0033_796086.jpg',
 'Black_Footed_Albatross_0035_796140.jpg',
 'Black_Footed_Albatross_0036_796127.jpg',
 'Black_Footed_Albatross_0037_796120.jpg',
 'Black_Footed_Albatross_0038_212.jpg',
 'Black_Footed_Albatross_0039_796132.jpg',
 'Black_Footed_Albatross_0040_796066.jpg',
 'Black_Footed_Albatross_0041_796108.jpg',
 'Black_Footed_Albatross_0042_796071.jpg',
 'Black_Footed_Albatross_0045_796129.jpg',
 'Black_Footed_Albatross_0046_18.jpg',
 'Black_Footed_Albatross_0047_796064.jpg',
 'Black_Footed_Albatross_0049_796063.jpg',
 'Black_Footed_Albatross_0050_796125.jpg',
 'Black_Footed_Albatross_0051_796103.jpg',
 'Black_Footed_Albatross_0053_796109.jpg',
 'Black_Footed_Albatross_0056_796078.jpg',
 'Black_Footed_Albatross_0057_796106.jpg',
 'Black_Footed_Albatross_0058_796074.jpg',
 'Black_Footed_Albatross_0060_796076.jpg',
 'Black_Footed_Albatross_0061_796082.jpg',
 'Black_Footed_Albatross_0063_796141.jpg',
 'Black_Footed_Albatross_0064_796101.jpg',
 'Black_Footed_Albatross_0065_796068.jpg',
 'Black_Footed_Albatross_0067_170.jpg',
 'Black_Footed_Albatross_0068_796135.jpg',
 'Black_Footed_Albatross_0069_796139.jpg',
 'Black_Footed_Albatross_0071_796113.jpg',
 'Black_Footed_Albatross_0074_59.jpg',
 'Black_Footed_Albatross_0076_417.jpg',
 'Black_Footed_Albatross_0077_796114.jpg',
 'Black_Footed_Albatross_0078_796126.jpg',
 'Black_Footed_Albatross_0079_796122.jpg',
 'Black_Footed_Albatross_0080_796096.jpg',
 'Black_Footed_Albatross_0081_426.jpg',
 'Black_Footed_Albatross_0082_796121.jpg',
 'Black_Footed_Albatross_0085_92.jpg',
 'Black_Footed_Albatross_0086_796062.jpg',
 'Black_Footed_Albatross_0088_796133.jpg',
 'Black_Footed_Albatross_0089_796069.jpg',
 'Black_Footed_Albatross_0090_796077.jpg']

In [28]:
path="./../CUB_200_2011/images/"
img_folder_list = sorted(os.listdir("./../CUB_200_2011/images/"))
img_folders = []
for i in img_folder_list:
    img_folders.append(path + i)

In [ ]:
# try a more advanced one
path="./../CUB_200_2011/images/"
img_folder_list = sorted(os.listdir("./../CUB_200_2011/images/"))
img_folders = []
for i in img_folder_list:
    img_folders.append(path + i)

In [32]:

img_path = []
for i in img_folders:
    img_path.append(path + i)

In [33]:
img_path

['./../CUB_200_2011/images/./../CUB_200_2011/images/001.Black_footed_Albatross',
 './../CUB_200_2011/images/./../CUB_200_2011/images/002.Laysan_Albatross',
 './../CUB_200_2011/images/./../CUB_200_2011/images/003.Sooty_Albatross',
 './../CUB_200_2011/images/./../CUB_200_2011/images/004.Groove_billed_Ani',
 './../CUB_200_2011/images/./../CUB_200_2011/images/005.Crested_Auklet',
 './../CUB_200_2011/images/./../CUB_200_2011/images/006.Least_Auklet',
 './../CUB_200_2011/images/./../CUB_200_2011/images/007.Parakeet_Auklet',
 './../CUB_200_2011/images/./../CUB_200_2011/images/008.Rhinoceros_Auklet',
 './../CUB_200_2011/images/./../CUB_200_2011/images/009.Brewer_Blackbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/010.Red_winged_Blackbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/011.Rusty_Blackbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/012.Yellow_headed_Blackbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/013.Bobolink',
 './../CUB_200_2011/images/./../CUB_200_2011/images/014.Indigo_Bunting',
 './../CUB_200_2011/images/./../CUB_200_2011/images/015.Lazuli_Bunting',
 './../CUB_200_2011/images/./../CUB_200_2011/images/016.Painted_Bunting',
 './../CUB_200_2011/images/./../CUB_200_2011/images/017.Cardinal',
 './../CUB_200_2011/images/./../CUB_200_2011/images/018.Spotted_Catbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/019.Gray_Catbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/020.Yellow_breasted_Chat',
 './../CUB_200_2011/images/./../CUB_200_2011/images/021.Eastern_Towhee',
 './../CUB_200_2011/images/./../CUB_200_2011/images/022.Chuck_will_Widow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/023.Brandt_Cormorant',
 './../CUB_200_2011/images/./../CUB_200_2011/images/024.Red_faced_Cormorant',
 './../CUB_200_2011/images/./../CUB_200_2011/images/025.Pelagic_Cormorant',
 './../CUB_200_2011/images/./../CUB_200_2011/images/026.Bronzed_Cowbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/027.Shiny_Cowbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/028.Brown_Creeper',
 './../CUB_200_2011/images/./../CUB_200_2011/images/029.American_Crow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/030.Fish_Crow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/031.Black_billed_Cuckoo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/032.Mangrove_Cuckoo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/033.Yellow_billed_Cuckoo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/034.Gray_crowned_Rosy_Finch',
 './../CUB_200_2011/images/./../CUB_200_2011/images/035.Purple_Finch',
 './../CUB_200_2011/images/./../CUB_200_2011/images/036.Northern_Flicker',
 './../CUB_200_2011/images/./../CUB_200_2011/images/037.Acadian_Flycatcher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/038.Great_Crested_Flycatcher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/039.Least_Flycatcher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/040.Olive_sided_Flycatcher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/041.Scissor_tailed_Flycatcher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/042.Vermilion_Flycatcher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/043.Yellow_bellied_Flycatcher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/044.Frigatebird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/045.Northern_Fulmar',
 './../CUB_200_2011/images/./../CUB_200_2011/images/046.Gadwall',
 './../CUB_200_2011/images/./../CUB_200_2011/images/047.American_Goldfinch',
 './../CUB_200_2011/images/./../CUB_200_2011/images/048.European_Goldfinch',
 './../CUB_200_2011/images/./../CUB_200_2011/images/049.Boat_tailed_Grackle',
 './../CUB_200_2011/images/./../CUB_200_2011/images/050.Eared_Grebe',
 './../CUB_200_2011/images/./../CUB_200_2011/images/051.Horned_Grebe',
 './../CUB_200_2011/images/./../CUB_200_2011/images/052.Pied_billed_Grebe',
 './../CUB_200_2011/images/./../CUB_200_2011/images/053.Western_Grebe',
 './../CUB_200_2011/images/./../CUB_200_2011/images/054.Blue_Grosbeak',
 './../CUB_200_2011/images/./../CUB_200_2011/images/055.Evening_Grosbeak',
 './../CUB_200_2011/images/./../CUB_200_2011/images/056.Pine_Grosbeak',
 './../CUB_200_2011/images/./../CUB_200_2011/images/057.Rose_breasted_Grosbeak',
 './../CUB_200_2011/images/./../CUB_200_2011/images/058.Pigeon_Guillemot',
 './../CUB_200_2011/images/./../CUB_200_2011/images/059.California_Gull',
 './../CUB_200_2011/images/./../CUB_200_2011/images/060.Glaucous_winged_Gull',
 './../CUB_200_2011/images/./../CUB_200_2011/images/061.Heermann_Gull',
 './../CUB_200_2011/images/./../CUB_200_2011/images/062.Herring_Gull',
 './../CUB_200_2011/images/./../CUB_200_2011/images/063.Ivory_Gull',
 './../CUB_200_2011/images/./../CUB_200_2011/images/064.Ring_billed_Gull',
 './../CUB_200_2011/images/./../CUB_200_2011/images/065.Slaty_backed_Gull',
 './../CUB_200_2011/images/./../CUB_200_2011/images/066.Western_Gull',
 './../CUB_200_2011/images/./../CUB_200_2011/images/067.Anna_Hummingbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/068.Ruby_throated_Hummingbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/069.Rufous_Hummingbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/070.Green_Violetear',
 './../CUB_200_2011/images/./../CUB_200_2011/images/071.Long_tailed_Jaeger',
 './../CUB_200_2011/images/./../CUB_200_2011/images/072.Pomarine_Jaeger',
 './../CUB_200_2011/images/./../CUB_200_2011/images/073.Blue_Jay',
 './../CUB_200_2011/images/./../CUB_200_2011/images/074.Florida_Jay',
 './../CUB_200_2011/images/./../CUB_200_2011/images/075.Green_Jay',
 './../CUB_200_2011/images/./../CUB_200_2011/images/076.Dark_eyed_Junco',
 './../CUB_200_2011/images/./../CUB_200_2011/images/077.Tropical_Kingbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/078.Gray_Kingbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/079.Belted_Kingfisher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/080.Green_Kingfisher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/081.Pied_Kingfisher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/082.Ringed_Kingfisher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/083.White_breasted_Kingfisher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/084.Red_legged_Kittiwake',
 './../CUB_200_2011/images/./../CUB_200_2011/images/085.Horned_Lark',
 './../CUB_200_2011/images/./../CUB_200_2011/images/086.Pacific_Loon',
 './../CUB_200_2011/images/./../CUB_200_2011/images/087.Mallard',
 './../CUB_200_2011/images/./../CUB_200_2011/images/088.Western_Meadowlark',
 './../CUB_200_2011/images/./../CUB_200_2011/images/089.Hooded_Merganser',
 './../CUB_200_2011/images/./../CUB_200_2011/images/090.Red_breasted_Merganser',
 './../CUB_200_2011/images/./../CUB_200_2011/images/091.Mockingbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/092.Nighthawk',
 './../CUB_200_2011/images/./../CUB_200_2011/images/093.Clark_Nutcracker',
 './../CUB_200_2011/images/./../CUB_200_2011/images/094.White_breasted_Nuthatch',
 './../CUB_200_2011/images/./../CUB_200_2011/images/095.Baltimore_Oriole',
 './../CUB_200_2011/images/./../CUB_200_2011/images/096.Hooded_Oriole',
 './../CUB_200_2011/images/./../CUB_200_2011/images/097.Orchard_Oriole',
 './../CUB_200_2011/images/./../CUB_200_2011/images/098.Scott_Oriole',
 './../CUB_200_2011/images/./../CUB_200_2011/images/099.Ovenbird',
 './../CUB_200_2011/images/./../CUB_200_2011/images/100.Brown_Pelican',
 './../CUB_200_2011/images/./../CUB_200_2011/images/101.White_Pelican',
 './../CUB_200_2011/images/./../CUB_200_2011/images/102.Western_Wood_Pewee',
 './../CUB_200_2011/images/./../CUB_200_2011/images/103.Sayornis',
 './../CUB_200_2011/images/./../CUB_200_2011/images/104.American_Pipit',
 './../CUB_200_2011/images/./../CUB_200_2011/images/105.Whip_poor_Will',
 './../CUB_200_2011/images/./../CUB_200_2011/images/106.Horned_Puffin',
 './../CUB_200_2011/images/./../CUB_200_2011/images/107.Common_Raven',
 './../CUB_200_2011/images/./../CUB_200_2011/images/108.White_necked_Raven',
 './../CUB_200_2011/images/./../CUB_200_2011/images/109.American_Redstart',
 './../CUB_200_2011/images/./../CUB_200_2011/images/110.Geococcyx',
 './../CUB_200_2011/images/./../CUB_200_2011/images/111.Loggerhead_Shrike',
 './../CUB_200_2011/images/./../CUB_200_2011/images/112.Great_Grey_Shrike',
 './../CUB_200_2011/images/./../CUB_200_2011/images/113.Baird_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/114.Black_throated_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/115.Brewer_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/116.Chipping_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/117.Clay_colored_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/118.House_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/119.Field_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/120.Fox_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/121.Grasshopper_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/122.Harris_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/123.Henslow_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/124.Le_Conte_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/125.Lincoln_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/126.Nelson_Sharp_tailed_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/127.Savannah_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/128.Seaside_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/129.Song_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/130.Tree_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/131.Vesper_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/132.White_crowned_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/133.White_throated_Sparrow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/134.Cape_Glossy_Starling',
 './../CUB_200_2011/images/./../CUB_200_2011/images/135.Bank_Swallow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/136.Barn_Swallow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/137.Cliff_Swallow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/138.Tree_Swallow',
 './../CUB_200_2011/images/./../CUB_200_2011/images/139.Scarlet_Tanager',
 './../CUB_200_2011/images/./../CUB_200_2011/images/140.Summer_Tanager',
 './../CUB_200_2011/images/./../CUB_200_2011/images/141.Artic_Tern',
 './../CUB_200_2011/images/./../CUB_200_2011/images/142.Black_Tern',
 './../CUB_200_2011/images/./../CUB_200_2011/images/143.Caspian_Tern',
 './../CUB_200_2011/images/./../CUB_200_2011/images/144.Common_Tern',
 './../CUB_200_2011/images/./../CUB_200_2011/images/145.Elegant_Tern',
 './../CUB_200_2011/images/./../CUB_200_2011/images/146.Forsters_Tern',
 './../CUB_200_2011/images/./../CUB_200_2011/images/147.Least_Tern',
 './../CUB_200_2011/images/./../CUB_200_2011/images/148.Green_tailed_Towhee',
 './../CUB_200_2011/images/./../CUB_200_2011/images/149.Brown_Thrasher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/150.Sage_Thrasher',
 './../CUB_200_2011/images/./../CUB_200_2011/images/151.Black_capped_Vireo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/152.Blue_headed_Vireo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/153.Philadelphia_Vireo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/154.Red_eyed_Vireo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/155.Warbling_Vireo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/156.White_eyed_Vireo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/157.Yellow_throated_Vireo',
 './../CUB_200_2011/images/./../CUB_200_2011/images/158.Bay_breasted_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/159.Black_and_white_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/160.Black_throated_Blue_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/161.Blue_winged_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/162.Canada_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/163.Cape_May_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/164.Cerulean_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/165.Chestnut_sided_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/166.Golden_winged_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/167.Hooded_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/168.Kentucky_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/169.Magnolia_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/170.Mourning_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/171.Myrtle_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/172.Nashville_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/173.Orange_crowned_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/174.Palm_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/175.Pine_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/176.Prairie_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/177.Prothonotary_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/178.Swainson_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/179.Tennessee_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/180.Wilson_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/181.Worm_eating_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/182.Yellow_Warbler',
 './../CUB_200_2011/images/./../CUB_200_2011/images/183.Northern_Waterthrush',
 './../CUB_200_2011/images/./../CUB_200_2011/images/184.Louisiana_Waterthrush',
 './../CUB_200_2011/images/./../CUB_200_2011/images/185.Bohemian_Waxwing',
 './../CUB_200_2011/images/./../CUB_200_2011/images/186.Cedar_Waxwing',
 './../CUB_200_2011/images/./../CUB_200_2011/images/187.American_Three_toed_Woodpecker',
 './../CUB_200_2011/images/./../CUB_200_2011/images/188.Pileated_Woodpecker',
 './../CUB_200_2011/images/./../CUB_200_2011/images/189.Red_bellied_Woodpecker',
 './../CUB_200_2011/images/./../CUB_200_2011/images/190.Red_cockaded_Woodpecker',
 './../CUB_200_2011/images/./../CUB_200_2011/images/191.Red_headed_Woodpecker',
 './../CUB_200_2011/images/./../CUB_200_2011/images/192.Downy_Woodpecker',
 './../CUB_200_2011/images/./../CUB_200_2011/images/193.Bewick_Wren',
 './../CUB_200_2011/images/./../CUB_200_2011/images/194.Cactus_Wren',
 './../CUB_200_2011/images/./../CUB_200_2011/images/195.Carolina_Wren',
 './../CUB_200_2011/images/./../CUB_200_2011/images/196.House_Wren',
 './../CUB_200_2011/images/./../CUB_200_2011/images/197.Marsh_Wren',
 './../CUB_200_2011/images/./../CUB_200_2011/images/198.Rock_Wren',
 './../CUB_200_2011/images/./../CUB_200_2011/images/199.Winter_Wren',
 './../CUB_200_2011/images/./../CUB_200_2011/images/200.Common_Yellowthroat']

In [30]:
img_paths

['./../CUB_200_2011/imagesBlack_Footed_Albatross_0001_796111.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0002_55.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0003_796136.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0005_796090.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0006_796065.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0007_796138.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0008_796083.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0009_34.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0010_796097.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0014_89.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0016_796067.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0017_796098.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0019_796104.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0023_796059.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0024_796089.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0025_796057.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0026_796095.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0031_100.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0032_796115.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0033_796086.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0035_796140.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0036_796127.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0037_796120.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0038_212.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0039_796132.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0040_796066.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0041_796108.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0042_796071.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0045_796129.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0046_18.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0047_796064.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0049_796063.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0050_796125.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0051_796103.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0053_796109.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0056_796078.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0057_796106.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0058_796074.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0060_796076.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0061_796082.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0063_796141.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0064_796101.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0065_796068.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0067_170.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0068_796135.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0069_796139.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0071_796113.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0074_59.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0076_417.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0077_796114.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0078_796126.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0079_796122.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0080_796096.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0081_426.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0082_796121.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0085_92.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0086_796062.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0088_796133.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0089_796069.jpg',
 './../CUB_200_2011/imagesBlack_Footed_Albatross_0090_796077.jpg']

In [13]:
tfds.folder_dataset.ImageFolder(root_dir:"./../CUB_200_2011/images/001.Black_footed_Albatross",
    *,
    shape: Optional[type_utils.Shape] = None,
    dtype: Optional[tf.DType] = None
)

SyntaxError: invalid syntax (<ipython-input-13-acd2d722e564>, line 1)

In [15]:
builder = tfds.ImageFolder("./../CUB_200_2011/images/001.Black_footed_Albatross")
print(builder.info)  # num examples, labels... are automatically calculated
#ds = builder.as_dataset(split='train', shuffle_files=True)
#tfds.show_examples(ds, builder.info)

tfds.core.DatasetInfo(
    name='image_folder',
    full_name='image_folder/1.0.0',
    description="""
    Generic image classification dataset.
    """,
    homepage='https://www.tensorflow.org/datasets/catalog/image_folder',
    data_path='./../CUB_200_2011/images/001.Black_footed_Albatross',
    download_size=Unknown size,
    dataset_size=Unknown size,
    features=FeaturesDict({
        'image': Image(shape=(None, None, 3), dtype=tf.uint8),
        'image/filename': Text(shape=(), dtype=tf.string),
        'label': ClassLabel(shape=(), dtype=tf.int64, num_classes=0),
    }),
    supervised_keys=('image', 'label'),
    disable_shuffling=False,
    splits={
    },
    citation="""""",
)

In [16]:
builder